* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* start global style */
.btn {
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.green {
  background-color: #3cab90;
  color: #fff;
  margin-right: 15px;
}
.orange {
  background-color: #ffbb1c;
  color: #000;
}
/* end global style */
/* start navbar */
.navbar {
  background-color: #0b9586;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}

.navbar .logo img {
  width: 150px;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li {
  padding: 5px 25px;
  cursor: pointer;
}

.navbar .active,
.navbar ul li:hover {
  background-color: #04887a;
  border-radius: 3px;
  border-bottom: 2px solid #09514a;
}

.navbar .info {
  color: #fff;
  text-align: right;
}

.navbar .info p:last-child {
  font-weight: bold;
  font-size: 20px;
}

.navbar .bars {
  font-size: 25px;
  cursor: pointer;
  display: none;
  color: #fff;
}
/* end navbar */

/* start landing */
.landing {
  background-image: url("../imgs/solar-panels-meadow 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing .progress {
  padding-bottom: 50px;
  color: #fff;
  display: flex;
  gap: 20px;
  align-items: center;
}

.landing .progress p {
  font-size: 14px;
}

.landing .progress .bar {
  width: 200px;
  height: 2px;
  background-color: #575757;
  position: relative;
}

.landing .progress .bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: #fff;
}

.landing .heading {
  color: #fff;
  width: 40%;
  font-size: 40px;
}

.landing .txt {
  color: #fff;
  width: 36%;
  padding: 20px 0;
}

/* end landing */

/* start south-west */
.south-west {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  gap: 160px;
}

.south-west .left {
  width: 50%;
}

.south-west .left .heading {
  font-size: 36px;
}

.south-west .left .txt {
  padding: 20px 0;
  line-height: 1.5;
  color: #777;
  padding-bottom: 50px;
}

.south-west .left .ol-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #101828;
}

.south-west .left .ol-list > div {
  display: flex;
  gap: 5px;
}

.south-west .left .ol-list > div p:first-child {
  color: #84bd3a;
  font-weight: normal;
  font-size: 18px;
}

.south-west .right {
  width: 50%;
}

.south-west .right .img {
  position: relative;
}

.south-west .right .img div {
  position: absolute;
  bottom: 50px;
  left: -50px;
  background-color: #ffbb1c;
  padding: 20px;
  width: 240px;
  border-radius: 10px;
}

.south-west .right .img div img {
  width: 90px;
  height: 90px;
}

.south-west .right .img div p {
  width: 65%;
  padding-top: 15px;
  line-height: 1.6;
  color: #2a3334;
  font-size: 14px;
}
/* end south-west */

/* start power */
.power {
  position: relative;
}
.power .background {
  width: 100%;
  height: 100%;
}
.power .background img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 350px;
}
.power .txt {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
}
.power .txt .heading {
  color: #fff;
  font-size: 36px;
}
.power .txt p {
  color: #fff;
  width: 64%;
  padding: 25px 0;
}
/* end power */

/* start solar */
.solar {
  padding: 50px 60px;
  box-sizing: border-box;
}

.solar .heading-txt div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.solar .heading-txt .text {
  width: 66%;
  line-height: 1.6;
}

.solar .heading-txt .heading {
  font-size: 36px;
  padding-bottom: 15px;
  text-align: center;
}

.solar .text {
  color: #475467;
  text-align: center;
}

.solar .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 30px;
  margin-top: 20px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .solar {
    padding: 20px;
  }

  .solar .heading-txt .text {
    width: 100%;
  }

  .solar .boxes {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.solar .boxes .box {
  box-shadow: 0 4px 8px rgb(120 116 116 / 20%);
  background-color: #fff;
  box-sizing: border-box;
}

.solar .boxes .box img {
  max-width: 100%;
  width: 100%;
}

.solar .boxes .box .txt {
  padding: 20px;
}

.solar .boxes .box .txt h2 {
  padding: 10px 0;
}

.solar .boxes .box .txt p {
  color: #475467;
  line-height: 1.6;
  font-size: 14px;
  padding-bottom: 10px;
}

.solar .boxes .box .txt .view {
  color: #3cab90;
  cursor: pointer;
}

/* end solar */

/* start repair */
.repair {
  background-image: url("../imgs/8116\ 1\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repair .txt {
  background-color: rgb(0 0 0 / 61%);
  color: #fff;
  padding: 25px;
  width: 50%;
  border-radius: 15px;
  margin-top: 30px;
}

.repair .txt h2 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 36px;
}

.repair .txt p {
  text-align: center;
  line-height: 1.5;
}
/* end repair */

/* start energy */
.energy {
  padding: 50px 60px;
  display: flex;
  gap: 25px;
  box-sizing: border-box;
}

.energy .left,
.energy .right {
  flex: 1 1 100%;
}

.energy .left img {
  background-color: #3cab90;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.energy .left h2 {
  font-size: 39px;
  padding: 20px 0;
  color: #475467;
}

.energy .left p {
  color: #475467;
  line-height: 1.6;
}

.energy .right .boxes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.energy .right .boxes .box {
  border: 1px solid #04887a;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.energy .right .boxes .box .img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.energy .right .boxes .box img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.energy .right .boxes .box .txt {
  display: flex;
  flex-direction: column;
  min-height: 220px;
}

.energy .right .boxes .box h2 {
  color: #101828;
  padding-bottom: 10px;
}

.energy .right .boxes .box .txt p:first-of-type {
  line-height: 1.6;
}

.energy .right .boxes .box .view {
  color: #475467;
  line-height: 1.6;
  margin-top: auto;
  color: #3cab90;
  cursor: pointer;
}
/* end energy */

/* start values */
.values {
  padding: 50px 60px;
  box-sizing: border-box;
}

.values .txt h2 {
  text-align: center;
  font-size: 36px;
  padding-bottom: 15px;
}

.values p {
  color: #475467;
}

.values .txt p {
  text-align: center;
}

.values .boxes .box {
  border-radius: 10px;
}

.values .boxes .box h2 {
  padding: 20px 0;
}

.values .boxes .box p {
  line-height: 1.6;
}

.values .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 30px;
  margin-top: 30px;
  box-sizing: border-box;
}

.values .boxes .box {
  background-color: rgb(60 171 144 / 10%);
  padding: 20px;
  box-sizing: border-box;
}
/* end values */

/* start testimonials */
.testimonials {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  padding: 50px 60px;
}

@media (max-width: 992px) {
  .testimonials {
    flex-direction: column;
    gap: 30px;
  }
}

.testimonials .right {
  background-color: rgb(60 171 144 / 10%);
  padding: 25px;
  border-radius: 10px;
}

.testimonials .right .comment {
  color: #000;
  font-size: 20px;
  padding: 20px 0;
}

.testimonials .right .header p {
  color: #3cab90;
}

.testimonials .left,
.testimonials .right {
  box-sizing: border-box;
  flex: 1 1 100%;
}

.testimonials .left {
  flex: 1;
}

.testimonials .right {
  flex: 2;
}

@media (min-width: 768px) {
  .testimonials .left {
    flex: 1;
  }

  .testimonials .right {
    flex: 2;
  }
}

.testimonials img {
  max-width: 100%;
  height: auto;
}

.testimonials .left h2 {
  font-size: 24px;
  margin: 15px 0;
}

.testimonials .left p {
  font-size: 16px;
  color: #475467;
}

.testimonials .right .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials .right .header p {
  font-size: 18px;
  font-weight: bold;
}

.testimonials .right .header .bullets span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 1px;
  cursor: pointer;
}

.testimonials .right .header .bullets .active {
  background-color: #6b6b6b;
}

.testimonials .right p {
  font-size: 16px;
  line-height: 1.6;
  color: #475467;
}

.testimonials .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.testimonials .user .img-name {
  display: flex;
  align-items: center;
}

.testimonials .user .img-name img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonials .user .img-name .name p {
  margin: 0;
}

.testimonials .user .arrows {
  display: flex;
  gap: 10px;
}

.testimonials .user .arrows > div {
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.testimonials .user .name p:first-of-type {
  font-size: 22px;
  font-weight: bold;
  color: #000;
}

@media (max-width: 992px) {
  .testimonials .user {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonials .user .img-name {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonials .user .name {
    text-align: center;
    padding: 10px 0;
  }
}
/* end testimonials */

/* start footer */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 60px;
  box-sizing: border-box;
  background-color: #283646;
}

footer .left {
  width: 75%;
  margin-bottom: 20px;
}

footer .left ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-top: 20px;
  flex-wrap: wrap;
}

footer .left ul li {
  margin-bottom: 10px;
}

footer .left ul a {
  color: #fff;
  text-decoration: none;
}

footer .right {
  width: 25%;
}

footer .right p {
  color: #fff;
  padding-bottom: 20px;
}

footer .right .input {
  position: relative;
}

footer .right .input input {
  border: 1px solid #fff;
  padding: 15px 0;
  width: 100%;
  border-radius: 40px;
  padding-left: 20px;
  background-color: rgb(146 152 159 / 44%);
}

footer .right .input input::placeholder {
  color: #92989f;
}

footer .right .input input:focus {
  outline: none;
}

footer .right .input button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  border-radius: 40px;
  padding: 16px 0;
  width: 150px;
  border: none;
  background-color: #ffbb1c;
  color: #fff;
  cursor: pointer;
}

footer .end {
  border-top: 1px solid #71777d;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

footer .end .end-left {
  padding-top: 30px;
  text-align: center;
}

footer .end .end-left ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: #92989f;
}

footer .end .end-left ul li {
  padding-right: 10px;
  border-right: 1px solid #92989f;
  cursor: pointer;
}

footer .end .end-right {
  width: 25%;
  text-align: center;
  padding-top: 30px;
  color: #92989f;
}

@media (max-width: 992px) {
  footer .end {
    flex-direction: column;
    align-items: center;
  }
  footer .end .end-left,
  footer .end .end-right {
    width: 100%;
  }
  footer .end .end-left ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
  }
  footer .right,
  footer .left {
    width: 100%;
    text-align: center;
  }
  footer .right {
    margin-top: 20px;
  }
  footer .left ul {
    justify-content: center;
  }
  footer .left ul li {
    margin-bottom: 10px;
  }
  footer .right .input {
    margin-bottom: 30px;
  }
}

/* end footer */

/* start media */
/* start navbar */
@media (max-width: 815px) {
  .navbar .info p:first-child {
    font-size: 14px;
  }

  .navbar .info p:last-child {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .landing .heading {
    width: 60%;
  }
  .landing .txt {
    width: 55%;
  }
}

@media (max-width: 992px) {
  .energy {
    flex-direction: column;
    padding: 50px 20px;
  }
  .energy .left {
    width: 100%;
  }
  .energy .right {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 10px 20px;
  }
  .navbar ul {
    position: absolute;
    top: -100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    flex-direction: column;
    z-index: 100;
    transition: top 0.3s ease;
    padding: 10px 0;
  }
  .navbar ul li {
    margin-top: 15px;
    overflow: hidden;
    text-align: center;
  }
  .navbar ul li a {
    color: #000;
  }

  .navbar .info {
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }

  .navbar .bars {
    display: block;
    position: absolute;
    right: 10px;
  }

  .navbar .bars:hover + ul,
  .navbar ul:hover {
    top: 76px !important;
    z-index: 200;
  }
  .navbar .info {
    padding-right: 30px;
  }
  /* end navbar */

  /* start landing */
  .landing {
    justify-content: center;
    align-items: center;
  }
  .landing .heading {
    width: 100% !important;
    font-size: 25px;
    text-align: center;
  }
  .landing .txt {
    text-align: center;
    width: 100% !important;
    font-size: 14px;
  }
  .landing .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .landing .btn {
    margin-bottom: 15px;
  }
  .landing .btns .green {
    margin-right: 0;
  }
  /* end landing */

  /* start south-west */
  .south-west {
    flex-direction: column;
    padding: 50px 20px;
    gap: 50px;
  }
  .south-west .right {
    width: 100%;
  }
  .south-west .left {
    width: 100%;
  }
  .south-west .left .txt {
    padding-bottom: 20px;
  }
  .south-west .left .ol-list {
    font-size: 15px;
  }
  .south-west .left .heading {
    font-size: 21px;
  }
  .south-west .right .img img {
    max-width: 100%;
  }
  .south-west .right .img div {
    left: 0;
    width: 170px;
  }
  .south-west .right .img div p {
    width: 100%;
  }
  /* end south-west */

  /* start power */
  .power .background {
    height: 325px;
  }
  .power .background img {
    height: 100%;
  }
  .power .txt {
    left: 20px;
  }
  .power .txt p {
    width: 95%;
  }
  /* end power */

  /* start solar */
  .solar {
    padding: 50px 20px;
  }
  .solar .heading-txt .text {
    width: 100%;
  }
  /* end solar */

  /* start repair */
  .repair .txt {
    width: 100%;
    padding: 30px 0;
  }
  .repair .txt h2 {
    font-size: 26px;
  }
  /* end repair */

  /* start values */
  .values {
    padding: 50px 20px;
  }
  /* end values */
}

/* start energy */
@media (min-width: 600px) {
  .energy .right .boxes {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
@media (max-width: 600px) {
  .values .boxes {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .energy .left {
    flex: 0 0 35%;
  }

  .energy .right {
    flex: 0 0 65%;
  }
}
/* end energy */

/* start testimonials */
@media (max-width: 767px) {
  .testimonials .header {
    flex-direction: column;
    justify-content: center;
  }
  .testimonials .comment {
    text-align: center;
  }
}
/* end testimonials */
/* end media */
